<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./source/tests/include.php"
         backupGlobals="true"
         colors="true"
         verbose="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">

    <coverage>
        <include>
            <directory suffix=".php">./source/php</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory>./source/tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>