.c-highlight {
  border-radius: var(--c-card-border-radius, var(--radius-lg, calc(var(--base, 8px) * 1.5)));
  background-color: var(--color-complementary-lighter, #fddde5);
}

.c-highlight--white {
  background-color: white;
}

.c-highlight--transparent {
  background-color: transparent;
}

.c-highlight--outline {
  background-color: transparent;
  border: solid 1px;
}