.c-stack,
.o-stack {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.c-stack > * + *,
.o-stack > * + * {
  margin-top: calc(var(--base, 8px) * 2)
}

.c-stack--1 > * + *,
.o-stack--1 > * + * {
  margin-top: calc(var(--base, 8px) * 1)
}

.c-stack--1-5 > * + *,
.o-stack--1-5 > * + * {
  margin-top: calc(var(--base, 8px) * 1.5)
}

.c-stack--2 > * + *,
.o-stack--2 > * + * {
  margin-top: calc(var(--base, 8px) * 2)
}

.c-stack--3 > * + *,
.o-stack--3 > * + * {
  margin-top: calc(var(--base, 8px) * 3)
}

.c-stack--4 > * + *,
.o-stack--4 > * + * {
  margin-top: calc(var(--base, 8px) * 4)
}
