.c-modal--centered {
  .c-modal__header {
    flex-direction: column-reverse;
  }

  .c-modal__heading {
    align-self: center;
    margin-right: 0;
    text-align: center;
  }
}

.c-modal--normalized {
  .c-modal__content *:first-child {
    margin-top: 0;
  }
}

.c-modal--assignment {
  .c-modal__content {
    overflow: hidden;
  }

  .c-modal__content .c-card {
    max-width: 356px;
    width: 75%;
    margin: 0 auto -48px;
    flex-direction: column-reverse;

    .c-card__body {
      padding-top: 0;
    }
  }

  .c-modal__footer {
    border-top: none;
    background-color: white;
    padding: 40px 24px;
  }

  .c-modal__header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .c-modal--size-sm {
    max-width: 32.5rem;
  }
}
